{% extends 'base.twig' %}

{% block title %}Unlock! - Game {% endblock %}
{% block css %}/css/game.css{% endblock %}
{% block modal %}/css/modal.css{% endblock %}
{% block modal2 %}/css/modal2.css{% endblock %}

{% block body %}
<nav>
    <ul class="menu">
        <div class="modal" id="modal">
            <div class="modal__body">
            <a href="#" class="modal__btn-close">❌</a>
            <img src="/{{cards[0].getImage()}}"  alt="carte : {{cards[0].getIdCard()}}">
            </div>
            <div class="modal__overlay"></div>
        </div>
        <li><a href="#modal" class="btn"><img src="/img/nav/unlock-white.png" id="unlock-logo" alt="unlock"></a></li>
        <li id="timer">60:00</li>
        <details id="indice">
            <summary>
                <li class="button">Indice</li>
                <div class="details-modal-overlay"></div>
            </summary>
            <div class="details-modal" style="width: 420px;">
                <div class="details-modal-title">
                    <h1>Code</h1>
                </div>
                    <div class="details-modal-content" style="width: 350px;">
                        <form action="/game/{{idGame}}/hint" method="POST">
                            <label for="hinr">Entrez le numéro d'une carte : </label>
                            <input type="text" name="hint" id="hint-text">
                            <input type="submit" value="Valider">
                        </form>
                    </div>
                </div>
            </div>
        </details>
        <details id="code">
            <summary>
                <li class="button">Code</li>
                <div class="details-modal-overlay"></div>
            </summary>
            <div class="details-modal" style="width: 420px;">
                <div class="details-modal-title">
                    <h1>Code</h1>
                </div>
                    <div class="details-modal-content" style="width: 350px;">
                        <form action="/game/{{idGame}}/code" method="POST">
                            <label for="code">Entrez un code : </label>
                            <input type="text" name="code" id="code-text">
                            <input type="submit" value="Valider">
                        </form>
                    </div>
                </div>
            </div>
        </details>
        <li id="machine"><a href="">Machine</a></li>
        <li id="quitter"><a href="/">Quitter</a></li>
    </ul>
</nav>


<div class="game-main">
    <div class="chambre-card">
        <img src="{{cards[0].getImgRecto()}}" id="carte-chambre" alt="Carte Chambre d'Hôtel">
    </div>
    <div class="all-cards">
    {% for card in cards %}
        {% if (card.getIdCard() != '1')  %}
            {# {% if card.getState() == 'recto' %}
                <div class="modal" id="modalCards">
                    <div class="modal__body">
                        <a href="#" class="modal__btn-close">❌</a>
                        <img src="/{{card.getImage()}}"  alt="carte : {{card.getIdCard()}}">
                    </div>
                    <div class="modal__overlay"></div>
                </div>
                <a href="#modalCards" class="btn"><img src="/{{card.getImage()}}"  alt="carte : {{card.getIdCard()}}"></a>
            {% else %} #}
                <a href="/game/{{idGame}}/card/{{card.getIdCard()}}"><img src="/{{card.getImage()}}"  alt="carte : {{card.getIdCard()}}"></a>
            {# {% endif %} #}
        {% endif %}
    {% endfor %}
    </div>
</div>

{{ dump(card) }}

<script src="/index.js"></script>

{% endblock %} 